<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped together for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#top-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">{{fa-icon "space-shuttle"}} Strange Moments</a>
      </div>

      <!-- Collect the nav links and other content for toggling -->
      <div class="collapse navbar-collapse" id="top-navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            {{#link-to 'mars-weather'}}Mars Satellite{{/link-to}}
          </li>
          <li>
            {{#link-to 'sorting'}}Sorting{{/link-to}}
          </li>
          <li>
            {{#link-to 'coffee'}}Coffee{{/link-to}}
          </li>
          <li>
            {{#link-to 'sketch'}}Sketches{{/link-to}}
          </li>
          <li>
            {{#link-to 'board'}}Game of Life{{/link-to}}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  {{#if isAlertShowing}}
    {{flash-alert message=alertMessage alertType=alertType
                  action="removeAlert"}}
  {{/if}}
  {{outlet}}
</div>

{{#jqui-dialog title='About This Site' content='This is my site for Internet Tools and Web Design.'}} {{/jqui-dialog}}

<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Strange Moments<span>{{fa-icon "space-shuttle"}}</span></h3>

    <p class="footer-links">
      <a class="link" href="#">Home</a>
      ·
      <a class="link" href="#">Blog</a>
      ·
      <a class="link" href="#">Pricing</a>
      ·
      <a class="link" href="#" id="about">About</a>
      ·
      <a class="link" href="#" {{action "toggleModal"}}>Faq</a>
      {{#if isShowingModal}}
        {{#modal-dialog close="toggleModal"
                        targetAttachment="center"
                        translucentOverlay=true}}
          {{#jqui-accordion}}
            <h3>What is this site?</h3>
            <div>
              <p>
                This is a place for all the things.
              </p>
            </div>
            <h3>What is the Answer to the Ultimate Question of Life, the Universe, and Everything?</h3>
            <div>
              <p>
                hehe. 42.
              </p>
            </div>
          {{/jqui-accordion}}
        {{/modal-dialog}}
      {{/if}}
      ·
      <a class="link" href="#">Contact</a>
    </p>

    <p class="footer-company-name">Strange Moments &copy; 2016</p>
  </div>

  <div class="footer-center">


    {{#link-to 'map'}}
      {{fa-icon "map-marker"}}
      <p><span>75-31 150th Street</span> Kew Gardens Hills, NY, USA</p>
    {{/link-to}}

    <div>
      {{fa-icon "phone"}}
      <p>+1 347 2684067</p>
    </div>

    <div>
      {{fa-icon "envelope"}}
      <p><a href="mailto:rgal@student.touro.edu">rgal@student.touro.edu</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About Strange Moments</span>
      This is a website for me to put all the things.
    </p>

    <div class="footer-icons">

      <a href="#">{{fa-icon "facebook"}}</a>
      <a href="#">{{fa-icon "twitter"}}</a>
      <a target="_blank" href="{{unbound model.linkedInUrl}}">{{fa-icon "linkedin"}}</a>
      <a target="_blank" href="{{unbound model.githubUrl}}">{{fa-icon "github"}}</a>

    </div>

  </div>

</footer>

