<h1>Buy Me a Coffee</h1>
<form {{action "create" on="submit"}}>
  <div class="form-group">
    <label for="name">Coffee Order</label>
    {{input value=model.coffee.name placeholder="Your Order"
                                                   type="text" class="form-control" name="name" required="true"}}
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    {{input value=model.coffee.email placeholder="Your Email Address"
                                             type="email" class="form-control" name="email" required="true"}}

  </div>
  <div class="form-group">
    <label for="size">Size</label>
    {{#x-select  class="form-control" value=model.coffee.size as |xs|}}
      {{#xs.option }}Select Size{{/xs.option}}
      {{#xs.option value=1}}Short{{/xs.option}}
      {{#xs.option value=2}}Tall{{/xs.option}}
      {{#xs.option value=3}}Grande{{/xs.option}}
      {{#xs.option value=4}}Coffee-zilla{{/xs.option}}
    {{/x-select}}
  </div>

  <div class="form-group">
    <label for="flavor">Flavor</label>
    {{#x-select  class="form-control" value=model.coffee.flavor as |xs|}}
      {{#xs.option }}None{{/xs.option}}
      {{#xs.option value=1}}Caramel{{/xs.option}}
      {{#xs.option value=2}}Almond{{/xs.option}}
      {{#xs.option value=3}}Mocha{{/xs.option}}
      {{#xs.option value=4}}Vanilla{{/xs.option}}
    {{/x-select}}
  </div>

  <div class="form-group">
    <label for="quantity">Quantity</label>
    {{input value=model.coffee.quantity placeholder="Quantity"
            type="number" class="form-control" name="quantity" required="true"}}
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea class="form-control" rows="5" id="comment" placeholder="Comment"></textarea>
    {{jqui-resizable}}
  </div>

  <div class="form-group">
    <label for="date">Order Date</label><br>
    {{pikaday-input format="MM/DD/YYYY" placeholder="Order Date"}}
  </div>

  <button type="submit" class="btn btn-primary btn-block">Submit</button>
  <button type="reset" class="btn btn-link btn-block">Reset</button>
</form>